@charset "UTF-8";

@font-face {
  font-family: "Google Sans";
  font-display: swap;
  src: url("../fonts/ProductSans-Medium.woff2") format("woff2"), url("../fonts/ProductSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.subscribe__email::before,
.booking .card__favorite::before,
.booking .card__people-count::before,
.destinations__item .item__duration::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-icon-trip-card-1:before {
  content: "\e900";
}

._icon-icon-trip-card-2:before {
  content: "\e901";
}

._icon-icon-trip-card-3:before {
  content: "\e902";
}

._icon-icon-trip-card-4:before {
  content: "\e903";
}

._icon-icon-twitter:before {
  content: "\e904";
}

._icon-icon-subscribe:before {
  content: "\e905";
}

._icon-icon-location:before {
  content: "\e906";
}

._icon-icon-instagram:before {
  content: "\e907";
}

._icon-icon-facebook:before {
  content: "\e908";
}

._icon-icon-email:before {
  content: "\e909";
}

._icon-icon-book-3:before {
  content: "\e90a";
}

._icon-icon-book-2:before {
  content: "\e90b";
}

._icon-icon-book-1:before {
  content: "\e90c";
}

._icon-icon-arrow-down:before {
  content: "\e90d";
}

._icon-icon-arrow-up:before {
  content: "\e90e";
}

._icon-icon-heart:before {
  content: "\e90f";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #5e6282;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding-top: 3rem;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Google Sans";
  color: #212832;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 5.375rem )) or (column-gap: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 5.375rem ))) {
  .header__inner {
    -webkit-column-gap: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 5.375rem );
       -moz-column-gap: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 5.375rem );
            column-gap: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 5.375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 5.375rem )) or (column-gap: clamp( 1.875rem , 0.6022727273rem  +  6.3636363636vw , 5.375rem ))) {
  .header__inner {
    -webkit-column-gap: calc(
			1.875rem + 3.5 * (100vw - 20rem) / 55
		);
       -moz-column-gap: calc(
			1.875rem + 3.5 * (100vw - 20rem) / 55
		);
            column-gap: calc(
			1.875rem + 3.5 * (100vw - 20rem) / 55
		);
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem )) or (column-gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem ))) {
  .header__actions {
    -webkit-column-gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem );
       -moz-column-gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem );
            column-gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem )) or (column-gap: clamp( 0.9375rem , 0.2556818182rem  +  3.4090909091vw , 2.8125rem ))) {
  .header__actions {
    -webkit-column-gap: calc(
			0.9375rem + 1.875 * (100vw - 20rem) / 55
		);
       -moz-column-gap: calc(
			0.9375rem + 1.875 * (100vw - 20rem) / 55
		);
            column-gap: calc(
			0.9375rem + 1.875 * (100vw - 20rem) / 55
		);
  }
}

.header__sign-up {
  display: inline-block;
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 0.625rem 1.375rem;
  -webkit-transition: background 0.3s ease-out 0s;
  -o-transition: background 0.3s ease-out 0s;
  transition: background 0.3s ease-out 0s;
}

.header__sign-up:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem );
       -moz-column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem );
            column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , -0.0852272727rem  +  5.1136363636vw , 3.75rem ))) {
  .menu__list {
    -webkit-column-gap: calc(
			0.9375rem + 2.8125 * (100vw - 20rem) / 55
		);
       -moz-column-gap: calc(
			0.9375rem + 2.8125 * (100vw - 20rem) / 55
		);
            column-gap: calc(
			0.9375rem + 2.8125 * (100vw - 20rem) / 55
		);
  }
}

.menu__link {
  font-weight: 500;
  font-size: 1.0625rem;
  display: inline-block;
  position: relative;
}

.menu__link::after {
  -webkit-transition: width 0.3s ease-out 0s;
  -o-transition: width 0.3s ease-out 0s;
  transition: width 0.3s ease-out 0s;
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
}

.menu__link:hover::after {
  width: 100%;
}

.menu__link::after {
  background-color: #212832;
}

.spollers__item {
  position: relative;
}

.spollers__title {
  font-family: inherit;
  font-weight: inherit;
  display: inline-block;
  position: relative;
}

.spollers__title::before {
  content: "\e90d";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 0.4375rem;
  right: -1.25rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.spollers__title:hover::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.spollers__body {
  position: absolute;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  padding-bottom: 5rem;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__slogan {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.8125rem;
  color: #5e6282;
  margin-top: 2.25rem;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem )) or (column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem ))) {
  .footer__menu {
    -webkit-column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem );
       -moz-column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem );
            column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem )) or (column-gap: clamp( 0.9375rem , -0.3125rem  +  6.25vw , 4.375rem ))) {
  .footer__menu {
    -webkit-column-gap: calc(
			0.9375rem + 3.4375 * (100vw - 20rem) / 55
		);
       -moz-column-gap: calc(
			0.9375rem + 3.4375 * (100vw - 20rem) / 55
		);
            column-gap: calc(
			0.9375rem + 3.4375 * (100vw - 20rem) / 55
		);
  }
}

.footer__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3125rem;
  color: #080809;
}

.footer ul {
  margin-top: 2.25rem;
}

.footer__menu-link {
  display: block;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  color: #5e6282;
  margin-top: 1.25rem;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.footer__social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.footer__download {
  margin-top: 2.1875rem;
}

.footer__download a {
  display: inline-block;
  margin-top: 0.9375rem;
}

.footer__download-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.005em;
  color: #5e6282;
}

.footer .facebook:hover {
  color: #ffffff;
  background-color: #4267b2;
}

.footer .instagram:hover {
  color: #ffffff;
  background: -o-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.footer .twitter:hover {
  color: #ffffff;
  background-color: #1da1f2;
}

.footer__email {
  margin-top: 5.3125rem;
  display: block;
  font-weight: 500;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-size: 0.875rem;
  color: #5e6282;
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__suptitle {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #df6951;
}

.hero__title {
  margin-top: 1.875rem;
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 5.25rem;
  line-height: 1.0595238095;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.hero__title span {
  display: inline-block;
  position: relative;
}

.hero__title span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -2.5rem;
  background-image: url("../img/icon-header-bg.svg");
  width: 24.0625rem;
  height: 0.75rem;
  z-index: -1;
}

.hero__description {
  margin-top: 1.875rem;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.875;
  color: #5e6282;
  max-width: 30rem;
}

.hero__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}

.hero__find-more {
  display: block;
  font-family: "Google Sans";
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  color: #ffffff;
  padding: 1.25rem 1.625rem;
  background-color: #f1a501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.hero__find-more:hover {
  background-color: #f18501;
}

.hero__play-demo {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.0625rem;
  color: #686d77;
}

.hero__play-demo span {
  width: 52px;
  height: 52px;
  background: #df6951;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.375rem 0 2.75rem;
}

.category {
  margin-top: 7.5rem;
  text-align: center;
}

.category__container {
  position: relative;
}

.category__bg {
  position: absolute;
  top: 0;
  right: 0;
}

.category__suptitle {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125rem;
  color: #5e6282;
  text-transform: uppercase;
}

.category__title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3.125rem;
  text-transform: capitalize;
  color: #14183e;
  margin-top: 0.625rem;
}

.category__body {
  margin-top: 5.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category .item {
  padding: 2.8125rem;
  background: #ffffff;
  border-radius: 36px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  cursor: pointer;
}

.category .item:hover {
  -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.1);
}

.category .item__img {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.category .item__img img {
  z-index: 1;
}

.category .item__img::after {
  content: "";
  display: block;
  width: 50px;
  height: 49px;
  background: #fff1da;
  border-radius: 18px 5px 10px;
  position: absolute;
  z-index: 0;
}

.category .item__title {
  margin-top: 3.125rem;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.25rem;
  color: #1e1d4c;
  text-transform: capitalize;
}

.category .item__description {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #5e6282;
  max-width: 11.5625rem;
  margin-top: 1.25rem;
}

.category .item--1 .item__img::after {
  right: 2.1875rem;
  bottom: -0.5rem;
}

.category .item--2 .item__img::after {
  top: 0;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.category .item--3 .item__img::after {
  left: 50%;
  top: 0;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.category .item--3 img {
  width: 2.5rem;
  height: 4.3125rem;
}

.category .item--4 .item__img::after {
  left: 50%;
  bottom: 0;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.destinations {
  margin-top: 6.25rem;
}

.destinations__suptitle {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
  color: #5e6282;
}

.destinations__title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3.125rem;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
  margin-top: 1.25rem;
}

.destinations__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.2386363636rem  +  4.3181818182vw , 3rem )) or (column-gap: clamp( 0.625rem , -0.2386363636rem  +  4.3181818182vw , 3rem ))) {
  .destinations__body {
    -webkit-column-gap: clamp( 0.625rem , -0.2386363636rem  +  4.3181818182vw , 3rem );
       -moz-column-gap: clamp( 0.625rem , -0.2386363636rem  +  4.3181818182vw , 3rem );
            column-gap: clamp( 0.625rem , -0.2386363636rem  +  4.3181818182vw , 3rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.2386363636rem  +  4.3181818182vw , 3rem )) or (column-gap: clamp( 0.625rem , -0.2386363636rem  +  4.3181818182vw , 3rem ))) {
  .destinations__body {
    -webkit-column-gap: calc(
			0.625rem + 2.375 * (100vw - 20rem) / 55
		);
       -moz-column-gap: calc(
			0.625rem + 2.375 * (100vw - 20rem) / 55
		);
            column-gap: calc(
			0.625rem + 2.375 * (100vw - 20rem) / 55
		);
  }
}

.destinations__bg {
  position: absolute;
  right: 0;
  bottom: 1.875rem;
  z-index: -1;
}

.destinations__item {
  margin-top: 3.75rem;
  border-radius: 1.5625rem;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.05);
}

.destinations__item .item__bottom {
  padding: 1.25rem 1.6875rem 2.625rem 1.6875rem;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  color: #5e6282;
}

.destinations__item .item__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destinations__item .item__duration {
  margin-top: 1.25rem;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destinations__item .item__duration::before {
  display: inline-block;
  color: #080809;
  padding-right: 0.9375rem;
  font-size: 1.25rem;
}

.booking {
  margin-top: 10rem;
}

.booking__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__subtitle {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125rem;
  color: #5e6282;
}

.booking__title {
  margin-top: 1.875rem;
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183e;
  max-width: 32.5rem;
}

.booking__item {
  margin-top: 3.125rem;
}

.booking .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.booking .item__img {
  width: 47px;
  height: 2.9375rem;
  border-radius: 0.8125rem;
  color: #ffffff;
  position: relative;
  font-size: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking .item__img--1 {
  background-color: #f0bb1f;
}

.booking .item__img--2 {
  background-color: #f15a2b;
}

.booking .item__img--3 {
  background-color: #006380;
}

.booking .item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25rem;
}

.booking .item__title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1rem;
  color: #5e6282;
}

.booking .item__description {
  margin-top: 0.625rem;
}

.booking .card {
  margin-top: 3.125rem;
  position: relative;
  max-width: 23.125rem;
  height: 25.625rem;
  padding: 1.25rem 1.5625rem 2.1875rem 1.5625rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 26px;
}

.booking .card__bg {
  width: 354px;
  height: 367px;
  background-repeat: no-repeat;
  background: #59b1e6;
  opacity: 0.8;
  -webkit-filter: blur(150px);
          filter: blur(150px);
  position: absolute;
  z-index: -1;
}

.booking .card__img {
  border-radius: 24px;
  overflow: hidden;
}

.booking .card__text {
  margin-top: 1.875rem;
}

.booking .card__title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.015em;
  color: #080809;
}

.booking .card__info {
  margin-top: 1.25rem;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.005em;
  color: #84829a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking .card__date {
  margin-right: 0.9375rem;
}

.booking .card__date::after {
  content: "|";
}

.booking .card__features-icon {
  margin-top: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.125rem;
     -moz-column-gap: 1.125rem;
          column-gap: 1.125rem;
}

.booking .card .icon {
  width: 2.25rem;
  height: 2.25rem;
  background: #f5f5f5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  color: #84829a;
}

.booking .card__bottom {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking .card__people-count {
  display: inline-block;
}

.booking .card__people-count::before {
  content: "\e903";
  display: inline-block;
  margin-right: 0.9375rem;
}

.booking .card__favorite {
  font-size: 1.125rem;
  display: inline-block;
  color: #4152ca;
}

.booking .card__favorite::before {
  content: "\e90f";
  display: inline-block;
}

.booking .ongoing {
  padding: 1.5625rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.12);
  border-radius: 18px;
  position: absolute;
  right: -8.125rem;
  bottom: 3.125rem;
  z-index: 2;
}

.booking .ongoing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.booking .ongoing__img {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 3.125rem;
  height: 3.125rem;
}

.booking .ongoing__text {
  font-family: "Poppins";
  font-weight: 500;
}

.booking .ongoing__suptitle {
  font-size: 0.875rem;
  letter-spacing: -0.035em;
  color: #84829a;
}

.booking .ongoing__title {
  font-size: 1.125rem;
  letter-spacing: -0.015em;
  color: #080809;
  margin-top: 0.625rem;
}

.booking .ongoing__completed {
  margin-top: 1rem;
  font-size: 0.875rem;
  letter-spacing: -0.055em;
  color: #080809;
}

.booking .ongoing__completed span {
  color: #8a79df;
}

.booking .ongoing__progressbar {
  margin-top: 0.625rem;
  width: 9.75rem;
  height: 0.3125rem;
  border-radius: 0.625rem;
  background: #f5f5f5;
  overflow: hidden;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.booking .ongoing__progressbar span {
  display: block;
  height: 100%;
  background-color: #8a79df;
  border-radius: 0.625rem;
}

.testimonials {
  margin-top: 12.5rem;
}

.testimonials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.5397727273rem  +  7.3863636364vw , 5rem )) or (column-gap: clamp( 0.9375rem , -0.5397727273rem  +  7.3863636364vw , 5rem ))) {
  .testimonials__body {
    -webkit-column-gap: clamp( 0.9375rem , -0.5397727273rem  +  7.3863636364vw , 5rem );
       -moz-column-gap: clamp( 0.9375rem , -0.5397727273rem  +  7.3863636364vw , 5rem );
            column-gap: clamp( 0.9375rem , -0.5397727273rem  +  7.3863636364vw , 5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.5397727273rem  +  7.3863636364vw , 5rem )) or (column-gap: clamp( 0.9375rem , -0.5397727273rem  +  7.3863636364vw , 5rem ))) {
  .testimonials__body {
    -webkit-column-gap: calc(
			0.9375rem + 4.0625 * (100vw - 20rem) / 55
		);
       -moz-column-gap: calc(
			0.9375rem + 4.0625 * (100vw - 20rem) / 55
		);
            column-gap: calc(
			0.9375rem + 4.0625 * (100vw - 20rem) / 55
		);
  }
}

.testimonials__suptitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #5e6282;
}

.testimonials__title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 1.28;
  text-transform: capitalize;
  color: #14183e;
  width: 26.25rem;
}

.testimonials__pagination {
  margin-top: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.625rem;
     -moz-column-gap: 1.625rem;
          column-gap: 1.625rem;
}

.testimonials__pagination .swiper-pagination-bullet {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #e5e5e5;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.testimonials__pagination .swiper-pagination-bullet-active,
.testimonials__pagination .swiper-pagination-bullet:hover {
  background-color: #39425d;
}

.testimonials .slider-btns {
  margin-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.75rem;
  gap: 3.75rem;
}

.testimonials .swiper-wrapper {
  padding: 40px 0;
}

.testimonials .item {
  position: relative;
}

.testimonials .item__body {
  width: 31.25rem;
  height: 20rem;
  padding: 5rem 3.75rem 2.1875rem 3.75rem;
  background-color: #ffffff;
  border: 2px solid #f7f7f7;
  overflow: hidden;
}

.testimonials .item__avatar {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.testimonials .item__review {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1rem;
  line-height: 2;
  color: #5e6282;
}

.testimonials .item__author {
  margin-top: 2.1875rem;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125rem;
  color: #5e6282;
}

.testimonials .item__location {
  margin-top: 0.625rem;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.875rem;
  color: #5e6282;
}

.partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__slide {
  margin-top: 10rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe {
  margin-top: 11.25rem;
}

.subscribe__container {
  position: relative;
}

.subscribe__body {
  background-color: #f9f7fe;
  border-radius: 129px 20px 20px 20px;
  text-align: center;
  height: 25.4375rem;
  padding: 5rem 9.6875rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 12.5rem;
}

.subscribe__icon {
  position: absolute;
}

.subscribe__icon--1 {
  top: 0;
  right: 0;
  z-index: 3;
  -webkit-transform: translate(15px, -35px) rotate(-30deg);
      -ms-transform: translate(15px, -35px) rotate(-30deg);
          transform: translate(15px, -35px) rotate(-30deg);
  position: absolute;
  width: 70px;
  height: 70px;
  background: -o-linear-gradient(248.35deg, #747def 10.27%, #5e3be1 100%);
  background: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__icon--2 {
  top: 0;
  right: -20px;
}

.subscribe__icon--3 {
  left: 1.25rem;
  bottom: 0;
  z-index: 1;
}

.subscribe__icon--4 {
  bottom: -3.75rem;
  right: -5rem;
}

.subscribe__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.0625rem;
  line-height: 1.6363636364;
  text-align: center;
  color: #5e6282;
}

.subscribe__form {
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  text-align: center;
}

.subscribe__bottom {
  margin-top: 5rem;
  position: absolute;
  width: 100%;
  padding: 0 9.6875rem;
  z-index: 10;
  left: 0;
}

.subscribe__email {
  width: 26.25rem;
  background-color: #ffffff;
  padding: 1.5625rem 1.875rem;
  outline: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  color: #39425d;
  display: inline-block;
}

.subscribe__email::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #39425d;
}

.subscribe__email::-moz-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #39425d;
}

.subscribe__email:-ms-input-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #39425d;
}

.subscribe__email::-ms-input-placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #39425d;
}

.subscribe__email::placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #39425d;
}

.subscribe__email::before {
  content: "\e909";
  display: inline-block;
  color: rebeccapurple;
}

.subscribe__button {
  width: 11.25rem;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff946d), to(#ff7d68));
  background: -o-linear-gradient(top, #ff946d 0%, #ff7d68 100%);
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}